article {
	#gradient.vertical(@gray-lightest;@white;0%;50%);
	border-top: 2px solid @gray-lighter;

	padding: 8px 30px;

	img {
		margin: 20px auto;
	}

	h2 {
		.anchor-no-style;
		font-family: 'Londrina';
		color: @primaryDark;
		margin-bottom: 5px;
		padding-top: 10px;
		margin-top: 0px;
	}

	h5 {
		color: @gray-light;
		margin-top: 0px;
		margin-bottom: 10px;

	}

	.read-more-link {
		font-weight: bold;
		color: @primaryDark;
	}


}

article:first-child {
	border-top: 0px;
}