.articles {

}

article {
	#gradient.vertical(@grayLighter;@white;0%;35%);
	border-top: 1px solid #E2E2E2;

	padding: 5px 20px;

	img {
		margin: auto 20px;
	}

	h2 {
		color: @primaryDark;
		margin-bottom: 5px;
		padding-top: 0px;
		margin-top: 0px;
	}

	h5 {
		color: @primaryLight;
		margin-top: 0px;
		margin-bottom: 10px;

	}


}