.form-heading {
  margin-bottom: 10px;
  color: @primaryDark;
  font-family: 'Londrina', @font-family-sans-serif;
}

.form-control:focus {
  z-index: 2;
}

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

//Login Form
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  h2 {
    color: @primaryDark;
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


// Article Form
.form-create-article {
  margin: 0 auto;

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  textarea[name="content"] {
    margin-bottom: -1px;
    border-radius: 0;
  }

  textarea[name="content_preview"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}

.form-edit-article {
  margin: 0 auto;

  label {
    color: @gray-light;
  }

  .form-heading {
    margin-top: 30px;
  }

  input[type="text"] {
    margin-bottom: 10px;
    margin-top: -5px;
  }
  
  textarea[name="content"] {
    margin-bottom: 10px;
    margin-top: -5px;
  }

  textarea[name="content_preview"] {
    margin-bottom: 10px;
    margin-top: -5px;
  }

  button {
    margin-bottom: 20px;
  }

}



.form-create-user {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  input[name="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  textarea[type="password"] {
    margin-bottom: -1px;
    border-radius: 0;
  }

  textarea[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
  }

  input[name="privledge"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.form-edit-user {
  max-width: 360px;
  margin: 0 auto;
 

  label {
    color: @gray-light;
  }

  input[name="username"] {
    margin-bottom: 10px;
    margin-top: -5px;
  }

  input[type="password"] {
    margin-bottom: 10px;
    margin-top: -5px;
  }

  input[type="email"] {
    margin-bottom: 10px;
    margin-top: -5px;
  }

  input[name="privledge"] {
    margin-bottom: 10px;
    margin-top: -5px;
  }
}



