body {
	background: url('../img/fabric_of_squares_gray.png');
	background-repeat: repeat;
}

.container {
  	@media (min-width: 768px) {
  		max-width: 730px;
  	}	
	background-color: white;
  	border-left: 1px solid @primaryLight;
  	border-right:  1px solid @primaryLight;
  	padding: 0px;
}

h1 a{
	color: @primaryDark;
}

h5 {
	color: @primaryLight;
}


    
 