body {
	background: url('../img/fabric_of_squares_gray.png');
	background-repeat: repeat;
}

.container {
  @media (min-width: 768px) {
  	max-width: 730px;
  }	
	background-color: white;
  border: 1px solid @gray-lighter;
  padding: 0px;
  margin-bottom: 50px;
}


h5 {
	color: @primaryLight;
}


    
 